body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:white; 
}
h2{
    font-size: 3vw;
}
h4{
    line-height: 0px;
    text-align: left;
   }
.cv-div-flex{
    display: flex;
    
}
.cv-text-align-center{
    text-align: center;
}
.cv-text-color-blue{
    color: #324063;
}
.cv-div-header{
    display: flex;
    background-color: #324063;
    padding: 0px 0px;
    color:white;

}
.cv-div-imagen{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 33%;
    background-color: #C8C8D6 ;
    margin-left: 2%;
    justify-content: center;
    text-align: center;
    
}
/* Clase Imagen Circular*/
.cv-img-circular{
    border-radius: 50%;
}
.cv-div-profile{
    text-align: center;
    padding-top: 3%;
    width: 67%;

}
.cv-div-profile2{
    text-align: center;
    padding: 0px 5%;
    font-size: 1.6vw;

}
.cv-p-justify{
    text-align: justify;
}
.cv-div-main{
    display: flex;
    
}
.cv-div-side{
    padding-top: 0px;
    width: 33%;
    background-color: #C8C8D6;
    margin-left: 2%;
    font-size: 1.4vw;
}
.cv-div-contact-data{
    width: 95%;
    margin: 0 auto;
    border-block-start: solid;
    border-block-start-width: 0.2vw;
}

.cv-div-contact-data>h3{
    width: 100%;
    margin-left: 4%;
    line-height: 0px; 
    
}
.cv-div-contact-data-items{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
  
}

.cv-div-contact-data-img{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.cv-div-contact-data-text{
    display: flex;
    width: 85%;
}
.cv-div-contact-data-text>h4{
    width: 100%;
    
}

.cv-div-habilidades-item{
    display: flex;
    height: 2.5vw;
 
}
.cv-div-item-text{
    display: flex;
    width: 60%; 
    text-align: left; 
    align-items: center;
    margin-left: 0%;
    
}
.cv-div-item-text>ul{
    width: 100%;
    display: flex;
    height: 4vw;
    align-items:flex-end;
    text-align: left;
    vertical-align: middle;
    padding-inline-start: 25%;
}


.cv-div-conte{
    width: 67%;
    font-size: 1.5vw;
    text-align: justify;
}
.cv-div-title-conte{
    margin-left: 1%;
    line-height: 0px;
    padding-top: 2%;
    font-size: 2.5vw;
}
.cv-div-experience{
    margin-inline: 4%;
    border: 1px;
    border-block-start: solid;
    border-block-start-width: 0.2vw;   
}
.cv-div-experience > div >h3{
    color: #324063;
}
.cv-div-exp-item>h4{
    padding-left: 2%;
}
.cv-div-exp-item{
    padding: 0% 0%;
}
.cv-div-exp-item>ul{
    padding-inline-start: 7%;

}
.cv-div.form >div>p{
    display: none;
}
.cv-div.form > div{
    margin-right: 10px;
}
.cv-section{
    padding: 30px 150px;
}
.cv-div-input{
    margin-right: 20px;
}
.cv-div-input>p{
    color: #ff0000;
    font-size: 12px;
    display: none;
}

/*...Cajas de 5 extrellas...*/
.rating {
    padding-top: 0px;
    position: relative;
    width: 40%;
    background: linear-gradient(to right,#324063,#324063);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 0px 100%;
  }
.rating:after {
    padding-top: 0px;
    position:absolute;
    content: '';
    height:100%;
    width: 100%;
    background: radial-gradient(20px at center, transparent 50%, #C8C8D6 55%);
    background-position: 0px 0px ;
    background-size: 20% 100%;
}
@keyframes fill-circle {
  to {
    background-size: 10% 10%;
  }
}

@media screen and (max-width:400px) {
    .rating:after {
        background: radial-gradient(20px at center, transparent 17%, #C8C8D6 18%);
        background-position: 0px 0px ;
        background-size: 20% 100%;
    }   
}
@media screen and (min-width:400px) and (max-width:500px) {
    .rating:after {
        background: radial-gradient(20px at center, transparent 20%, #C8C8D6 23%);
        background-position: 0px 0px ;
        background-size: 20% 100%;
    }   
}
@media screen and (min-width:500px) and (max-width:750px) {
    .rating:after {
        background: radial-gradient(20px at center, transparent 22%, #C8C8D6 25%);
        background-position: 0px 0px ;
        background-size: 20% 100%;
    }   
}
@media screen and (min-width:750px) and (max-width:1000px) {
    .rating:after {
        background: radial-gradient(20px at center, transparent 35%, #C8C8D6 38%);
        background-position: 0px 0px ;
        background-size: 20% 100%;
    }   
}